.dark_mode {

    --bs-border-color: #383838;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.1);

    body {
        transition: background-color 0.4s ease;
        color: #d1d1d1;
        background: #121212;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        transition: background-color 0.4s ease;
        color: #e0e0e0  !important;
    }

    p {
        transition: background-color 0.4s ease;
        color: #dcdcdc;
    }


    .top-header {
        transition: background-color 0.4s ease;
        background-color: #333333 !important;

        button {
            transition: background-color 0.4s ease;
            color: #e0e0e0 !important;
        }


        .app-name {
            transition: background-color 0.4s ease;
            color: #e0e0e0 !important;
        }

    }



    .dropdown-apps {

        mat-grid-tile:hover {
            transition: background-color 0.4s ease;
            background-color: #4a4a4a;
        }
    }


    .searchbar {
        transition: background-color 0.4s ease;
        background-color: #333333 !important;

        .search-control {
            transition: background-color 0.4s ease;
            color: #e0e0e0 !important;
            background-color: #333333 !important;
            border-bottom: 2px solid #333333 !important;

            &:focus {
                transition: background-color 0.4s ease;
                border-bottom: 2px solid #3f51b5 !important;
            }
        }

        ::placeholder {
            transition: background-color 0.4s ease;
            color: #e0e0e0 !important;
            opacity: 0.7 !important;
        }
    }


    .sidebar-wrapper {
        transition: background-color 0.4s ease;
        background-color: #424242 !important;

        .sidebar-header {
            transition: background-color 0.4s ease;
            background-color: #424242 !important;

            .logo-name {
                transition: background-color 0.4s ease;
                color: #fff !important;
            }
        }
    }

    .apexcharts-datalabel,
    .apexcharts-datalabel-label,
    .apexcharts-datalabel-value,
    .apexcharts-datalabels,
    .apexcharts-pie-label {
        transition: background-color 0.4s ease;
        fill: #e0e0e0
    }


    .apexcharts-datalabel-value {
        transition: background-color 0.4s ease;
        fill: #e0e0e0 !important;
    }

    .price {
        transition: background-color 0.4s ease;
        color: #e0e0e0 !important;
    }

}