<div [class.hidden]="!isModal">
  <section
    class="modal"
    #modalContent
    (mousedown)="click_fuera($event.target)"
    aria-modal="true"
  >
    <aside class="modal__content" [style]="style">
      <header class="modal__head">
        <h2 class="text__subtitle">{{ titulo }}</h2>
        <img
          class="img__icon"
          (click)="hiddenModal()"
        />
      </header>
      <section class="modal__body" [class.overflow__auto]="scroll">
        <ng-content></ng-content>
      </section>
      <footer class="modal__footer"></footer>
    </aside>
  </section>
</div>
