<mat-card class="rounded-4">
  <mat-card-content class="p-4">
    <div class="position-relative mb-5">
      <img src="assets/images/gallery/test.gif" class="img-fluid rounded-4" alt="Profile Image">
      <div class="position-absolute top-100 start-50 translate-middle">
        <img [src]="thumbnailImage" width="170" height="170" class="rounded-circle raised p-1 mat-bg-white mat-elevation-z8" alt="Profile Thumbnail">
        <div class="upload-container">
          <input type="file" (change)="onFileChange($event)" accept="image/*" id="file-upload" />
          <label for="file-upload">
            <mat-icon class="upload-icon">cloud_upload</mat-icon>
          </label>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<div class="row">
    <div class="col-12 col-xl-8">
        <mat-card class="rounded-4">
            <mat-card-content class="p-4">
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 col-xl-4">
        <mat-card class="rounded-4">
           <mat-card-content class="p-4">
                <div class="d-flex flex-row gap-3 align-items-center justify-content-between mb-3">
                    <div class="">
                      <h5 class="">About</h5>
                    </div>
                    <div>
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" class="rounded-4">
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">visibility</mat-icon>
                          <span>View</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">delete</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                  <div class="full-info">
                    <div class="info-list d-flex flex-column gap-3">
                       <div class="info-list-item d-flex align-items-center gap-3">
                         <span class="material-icons-outlined">account_circle</span>
                         <p>Full Name: Jhon Deo</p>
                       </div>
                       <div class="info-list-item d-flex align-items-center gap-3">
                        <span class="material-icons-outlined">done</span>
                        <p>Status: active</p>
                      </div>
                      <div class="info-list-item d-flex align-items-center gap-3">
                        <span class="material-icons-outlined">code</span>
                        <p>Role: Developer</p>
                      </div>
                      <div class="info-list-item d-flex align-items-center gap-3">
                        <span class="material-icons-outlined">flag</span>
                        <p>Country: USA</p>
                      </div>
                      <div class="info-list-item d-flex align-items-center gap-3">
                        <span class="material-icons-outlined">language</span>
                        <p>Language: English</p>
                      </div>
                      <div class="info-list-item d-flex align-items-center gap-3">
                        <span class="material-icons-outlined">send</span>
                        <p>Email: jhon.xyz</p>
                      </div>
                      <div class="info-list-item d-flex align-items-center gap-3">
                        <span class="material-icons-outlined">call</span>
                        <p>Phone: (124) 895-6724</p>
                      </div>
                    </div>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
