<div [ngStyle]="{ 'min-width': style }" [class.d-none]="!isModal" class="modal">
  <section
    class="modal fade show"
    #modalContent
    (mousedown)="click_fuera($event.target)"
    aria-modal="true"
  >
    <aside class="modal__content" [style]="style">
      <header class="modal__head">
        <h5 class="modal-title">{{ titulo }}</h5>
        <button mat-icon-button (click)="hiddenModal()">
          <mat-icon>cancel</mat-icon>
        </button>
      </header>
      <section class="modal__body" [class.overflow__auto]="scroll">
        <ng-content></ng-content>
      </section>
      <footer class="modal-footer">
      </footer>
    </aside>
  </section>
</div>
