<fieldset class="group__form flex-container f10">
  <legend>Control de Indicadores</legend>
  <div class="f10">
    <table class="table-standart">
      <thead>
        <tr>
          <th colspan="2">DESCRIPCIÓN</th>
          <th>INDICADOR INTERNO (TIPO 4) / INTEGRADOR (TIPO 5)</th>
          <th>EXTERNO (TIPO 1)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td style="width: 180px;">{{ item.descripcion }}</td>

          <!-- INDICADOR -->
          <td class="image-container">
            <form [formGroup]="form">
              <div class="image-wrapper">
                <ng-container *ngIf="images[i]?.indicador; else noImageIndicador">
                  <img [src]="images[i].indicador" class="preview-image" (click)="toggleMenu(i, 'indicador')">
                  <div *ngIf="activeMenuIndex === i && activeMenuType === 'indicador'" class="dropdown-menu">
                    <button (click)="viewImage(images[i].indicador)">Visualizar Imagen</button>
                    <button (click)="removeImage(i, 'indicador')">Eliminar Imagen</button>
                    <button (click)="closeMenu()">Cancelar</button>
                  </div>
                </ng-container>
                <ng-template #noImageIndicador>
                  <label class="upload-label">
                    <input type="file" accept="image/*" (change)="onFileSelected($event, i, 'indicador')" hidden> 
                    <img src="assets/icons/upload-photo.png" class="upload-icon">
                  </label>
                </ng-template>
              </div>
            </form>
          </td>

          <!-- INTEGRADOR -->
          <td class="image-container">
            <form [formGroup]="form">
              <div class="image-wrapper">
                <ng-container *ngIf="images[i]?.integrador; else noImageIntegrador">
                  <img [src]="images[i].integrador" class="preview-image" (click)="toggleMenu(i, 'integrador')">
                  <div *ngIf="activeMenuIndex === i && activeMenuType === 'integrador'" class="dropdown-menu">
                    <button (click)="viewImage(images[i].integrador)">Visualizar Imagen</button>
                    <button (click)="removeImage(i, 'integrador')">Eliminar Imagen</button>
                    <button (click)="closeMenu()">Cancelar</button>
                  </div>
                </ng-container>
                <ng-template #noImageIntegrador>
                  <label class="upload-label">
                    <input type="file" accept="image/*" (change)="onFileSelected($event, i, 'integrador')" hidden> 
                    <img src="assets/icons/upload-photo.png" class="upload-icon">
                  </label>
                </ng-template>
              </div>
            </form>
          </td>

          <!-- EXTERNO -->
          <td class="image-container">
            <form [formGroup]="form">
              <div class="image-wrapper">
                <ng-container *ngIf="images[i]?.externo; else noImageExterno">
                  <img [src]="images[i].externo" class="preview-image" (click)="toggleMenu(i, 'externo')">
                  <div *ngIf="activeMenuIndex === i && activeMenuType === 'externo'" class="dropdown-menu">
                    <button (click)="viewImage(images[i].externo)">Visualizar Imagen</button>
                    <button (click)="removeImage(i, 'externo')">Eliminar Imagen</button>
                    <button (click)="closeMenu()">Cancelar</button>
                  </div>
                </ng-container>
                <ng-template #noImageExterno>
                  <label class="upload-label">
                    <button type="button" (click)="handleImageSelection(i, 'externo')">
                      <img src="assets/icons/upload-photo.png" class="upload-icon">
                    </button>
                  </label>
                </ng-template>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>
